<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/nabout.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#" class="logo">
                <img src="../images/logo.png" alt="logo">
                <h2>Reel & Riddles </h2>
            </a>
            <ul class="links">
               <li><a href="/">Home</a></li>
               <li><a href="./demo">Help</a></li>
               <li><a href="./contact">Contact us</a></li>
               <li class="login-btn"><a href="./register">Registation</a></li>
               <li class="login-btn"><a href="./login">Login</a></li>
               
            </ul>
      
        </nav>
    </header>
    <div class="heading">
        <h1>About Us</h1>
        <h2>Enjoy the game </h2>
        
    </div>
    <div class="container">
        <section class="about">
            <div class="about-image">
            <img src="../images/about.jpg">
        </div>
        <div class="about-content">
            <h2>Warm embrance in the game</h2>
            <p>The Reel and Riddle it’s a website based game which aim to provide fun and experience to the player . The inspiration of this game came from a simple quiz game . But in my game instead of question there will be certain image provided. The image could be a particular scene or a particular  actor’s image and etc the user need to guess the image and tick proper option . My game include some category’s . There are total four category { Marvel , Cartoon , K drama , Anime } as per the user wish the user can choose according category . The game is engaging and interactive digital experience that challenge player’s visual recognition skill.The objective to decipher the hidden meaning behind the image and provide the accurate answer within the limited time frame.  This game offer the dynamic platform for honing visual cognition while fostering an enjoyable and immersive gaming environment .</p>
        
        </div>
        </section>
    </div>
</body>
</html>