<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Category Page</title>
  <link rel="stylesheet" href="./css/quiz.css">
</head>
<body>

  <header>
    <h1>Category Page</h1>
  </header>

  <div class="category-container">
    <div class="category" >
      <a href="./mlevel"><img src="./images/marvel.jpeg" alt="Category 1"></a>
      
    </div>

    <div class="category" >
      <img src="./images/cartoon.png" alt="Category 2">
      <div class="category-content">
        <h2>Category 2</h2>
      </div>
    </div>

    <div class="category" >
      <img src="./images/kdrama (1).jpeg" alt="Category 3">
      <div class="category-content">
        <h2>Category 3</h2>
      </div>
    </div>

    <div class="category" >
      <img src="./images/anime.png" alt="Category 4">
      <div class="category-content">
        <h2>Category 4</h2>
      </div>
    </div>
  </div>

</body>
</html>

