<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/contact.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#" class="logo">
                <img src="./images/logo.png" alt="logo">
                <h2>Reel & Riddles </h2>
            </a>
            <ul class="links">
               <li><a href="/">Home</a></li>
               <li><a href="./demo">Help</a></li>
               <li><a href="./aboutus">About us</a></li>
               <li class="login-btn"><a href="./register">Registation</a></li>
               <li class="login-btn"><a href="./login">Login</a></li>
               
            </ul>
      
        </nav>
    </header>

    <div class="contact-container">
        <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
            <div class="contact-left-title">
                <h2>Get in touch</h2>
                <hr>
            </div>
            <input type="hidden" name="access_key" value="3b6a2e5d-0083-4c27-8920-5951e317cf0a">

            <input type="text" name="name" placeholder="Your Name" class="contact-inputs" required>
            <input type="email" name="email" placeholder="Your Email" class="contact-inputs" required>
            <textarea name="message" placeholder="Your Message" class="contact-inputs" required></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="contact-right">

    </div>


</body>
</html>