<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/rules.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#" class="logo">
                <img src="./images/logo.png" alt="logo">
                <h2>Reel & Riddles </h2>
            </a>
            <ul class="links">
               <li><a href="/">Home</a></li>
               <li><a href="./aboutus">About us</a></li>
               <li><a href="./contact">Contact us</a></li>
               <li class="login-btn"><a href="./register">Registation</a></li>
               <li class="login-btn"><a href="./login">Login</a></li>
               
            </ul>
      
        </nav>
    </header>
    <div class="heading">
        <h1>Rules and Regulation</h1>
        <h2>Enjoy the game </h2>
        
    </div>
    <div class="container">
        <section class="about">
            <div class="about-image">
            <img src="./images/about.jpg">
        </div>
        <div class="about-content">
            <h2>Rules of Reels and riddles</h2>
            <p>1. You will have only 15 seconds per each question.</p>
            <p>2. Once you select your answer, you can't reselect.</p>
            <p>3. You can't select answer answer once time goes off.</p>
            <p>4. You can't exit from game while you're playing.</p>
            <p>5. You will get points on the basis of correct answer.</p>
        </div>
        </section>

</body>
</html>