<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/mlevel.css">
</head>
<body>
 <header>
    <h1>Levels Page</h1>
    <button id="logout-btn" onclick="alert('Logout clicked')">Logout</button>
</header>
    <div class="level-container">
      <a href="/mlevel1"><button class="level">Level 1</button></a>
      <a href="/mlevel2"><button class="level">Level 2</button></a>
      <a href="/mlevel3"><button class="level" >Level 3</button></a>
      <a href="/mlevel4"><button class="level" >Level 4</button></a>
      <a href="/mlevel5"><button class="level" >Level 5</button></a>
      <a href="/mlevel6"><button class="level" >Level 6</button></a>
      <a href="/mlevel7"><button class="level" >Level 7</button></a>
      <a href="/mlevel8"><button class="level" >Level 8</button></a>
      <a href="/mlevel9"><button class="level" >Level 9</button></a> 
      <a href="/mlevel10"><button class="level" >Level 10</button></a>
    </div>
  
</body>
</html>