<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/mlevel1.css">
</head>
<body>
  


  <div class="container">
    <div id="timer">10</div>
    <img src="./images/m6.jpg" alt="Image description">
    <div class="options">
      <button onclick="selectOption('Agetha Harkness')" id="option1" class="option-btn">Agetha Harkness</button>
      <button onclick="selectOption('Kate Bishop')" id="option2" class="option-btn">Kate Bishop</button>
      <button onclick="selectOption('Scarlett Witch')" id="option3" class="option-btn">Scarlett Witch</button>
      <button onclick="selectOption('Black Widow')" id="option4" class="option-btn">Black Widow</button>
    </div>

    <button onclick="checkGuess()" id="submitBtn" disabled>Submit Guess</button>
    <p id="result"></p>
    <button  id="next">Next</button>

  </div>
  
  <script src="./js/mlevel1.js"></script>

  

  </div>
</body>
</html>